body{
    margin: 0;
    font-family: Calibri, "Lucida Console", sans-serif, "Sans Serif Collection";
}


#overlay{
    width: 100vw;
    height: 100vh;
    z-index: 1; /*popupu daj z-index 11*/
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    transition: none;
}

.rozhlas_dashboard {
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 6px;
    height: fit-content;
    width: fit-content;
    box-shadow: inset 0 4px 4px 0 rgba(85, 85, 85, 0.32);
    background-color: rgb(236, 236, 236);
}

.hodina {
    z-index: 0;
    margin: 5px 10px;
    height: 60px;
    width: 280px;
    box-shadow: 0 4px 4px 0 rgba(85, 85, 85, 0.32);
    background-color: white;
    position: relative;
    transition-duration: 0.4s;
    cursor: pointer;
    .text1:not(#hodina_popup) {
        margin-top: 15px;
        position: absolute;
        left: 20px
    }
    .text2:not(#hodina_popup) {
        margin-top: 5px;
        position: absolute;
        right: 20px;
    }

    .button {
        height: 40px;
        font-size: 115%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .aplikovat_zmenu {
        width: 30%;
        position: absolute;
        right: 15%;
        bottom: 15%;
        text-align: center;
    }
    .aplikovat_zmenu:hover {
        border-color: rgb(228, 37, 37);
    }
    .zrusit_zmenu {
        width: 30%;
        position: absolute;
        left: 15%;
        bottom: 15%;
        text-align: center;
        background-color: rgb(228, 37, 37);
        border-color: rgb(228, 37, 37);
        color: white;
    }
}



.hodina:nth-child(1) {
    margin-top: 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.hodina:nth-last-child(1 of :not(#hodina_popup)) {
    margin-bottom: 10px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.time {
    width: 65px;
    text-align: center;
}

.hodina:hover:not(#hodina_popup) {
    .text1 {
        color: white;
    }
    .text2 {
        color: white;
    }
    background-color: rgb(255, 97, 97);
    color: white;
}

.center {
    margin: auto;
    width: 50%;
}

.text1 {
    width: fit-content;
    font-size: 24px;
    color: rgb(228, 37, 37);

}

.text2 {
    font-size: 20px;
    color: rgb(255, 97, 97);
}

.rozvrh {
    width: max-content;
    font-size: 36px;
}

.line {
    width: 65px;
    height: 0px;
    background-color: white;
    border-bottom: solid rgba(128, 128, 128, 0.56) 1px;
}
.buttons {
    margin: 5px auto;
    width: 240px;
}

.button {
    border: 2px solid rgb(255, 97, 97);
    color: rgb(255, 97, 97);
    background-color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 240px;
    height: 30px;
}

.button:hover {
    background-color: rgb(255, 97, 97);
    color: white;
}

#hodina_popup{
    position: absolute;
    transition: none;
    z-index: 2;
    .name {
        width: 75%;
    }
    /*background-color: blue;
    /*margin: 0 auto;*/
}

#rozvrhy {
    position: absolute;
    transition: none;
    z-index: 2;
    background-color: white;
    border-radius: 6px;
}
/* testing ////////////////////////////////////////////////////////// */
